@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'open Sans', sans-serif;
    font-weight: 300;
    color: #312d2d;
    background-color: #F9F3EE;
}

.red-text {
    color: red;
}

.black-text {
    color: black;
}

.text-center {
    text-align: center;
}

/* Headings and Logo style */
h1,
h2,
h3 {
    font-family: sansita, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 5px;
    color: #3F4E4F;
}

header {
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #F5F0BB;
    margin-top: -75px;
    border-bottom: 2px solid black;
}

.sub-header {
    height: 75px;
    line-height: 75px;
    font-weight: 500;
    background-color: blanchedalmond;
}

#logo {
    float: left;
    font-size: 270%;
    margin-left: 28px;
}

/* navigation menu style */

/* hide hamburger button */
nav label,
#hamburger {
    display: none;
}

#menu {
    letter-spacing: 5px;
    font-size: 110%;
    float: right;
    list-style: none;
}

#menu li {
    display: inline-block;
    margin-right: 28px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: blue;
}

#currpage {
    color: blue;
}

/* Content section for contact-form-dump.html */

#ack-form {
    margin-top: 75px;
    height: 415px;
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 150px;
    background-color: #F9F3EE;
}

#ack-form-message {
    letter-spacing: 4px;
    text-align: center;
    margin-top: 120px;
    width: 100%;
}

#ack-form-message h2 {
    font-size: 320%;
    font-weight: 500;
    letter-spacing: 2px;
    color: #3F4E4F;
    margin-bottom: 4px;
}

#ack-form-message p {
    color: #312d2d;
    font-weight: 700;
    padding: 10px 20px;
    letter-spacing: 2px;
}

/* hero-image style */
#hero-image {
    width: 100%;
    height: 600px;
    margin-top: 75px;
    background: url(../images/life-hack-hero-image.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

/* hero image cover text style */
#hero-cover-text {
    background-color: rgba(51, 153, 138, 0.1);
    width: 32%;
    height: 320px;
    text-align: center;
    padding: 30px 20px;
    color: beige;
    position: absolute;
    border-radius: 10px;
    bottom: 200px;
    top: 200px;
    left: 35%;
}

#hero-cover-text p {
    font-size: 180%;
}

#hero-cover-text h2 {
    font-size: 380%;
}

#hero-cover-text p,
h2 {
    margin-top: 30px;
}

/* About section style */

#abt-section {
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 30px;
}

#abt-left {
    width: 60%;
    margin-left: 30px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

#abt-right {
    width: 20%;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 10px;
}

#abt-img {
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 2px rgb(246, 231, 220);
}

/* Category  section styles */
#cat-section {
    width: 100%;
    height: 975px;
    margin-top: 30px;
}

#cat-section p {
    padding: 20px 20px 40px 20px;
    color: black;
}

.cat-sub-head {
    color: #000;
    margin-left: 28px;
    padding-top: 10px;
    font-weight: 500;
    margin-top: 2px;
    text-align: left;
}

.cat-hack-box {
    width: 20%;
    height: 200px;
    vertical-align: top;
    margin: 2rem 1rem 2rem 0;
    display: inline-block;
    background-color: beige;
    box-shadow: 5px 5px 2px hsl(60, 2%, 12%);
}

#cat-tech {
    width: 100%;
    height: 300px;
    text-align: center;
    vertical-align: top;
    background: url(../images/cat_tech_img.jpg) no-repeat center center;
    background-size: cover;
}

#cat-health {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    background: url(../images/cat_health_img.jpg) no-repeat center center;
    background-size: cover;
}

#cat-money {
    width: 100%;
    display: block;
    height: 350px;
    text-align: center;
    background: url(../images/cat_money_img.jpg) no-repeat center center;
    background-size: cover;
}

/* Life Hack submit form style */
form {
    display: block;
}

.form-section {
    height: 750px;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.submit-form {
    width: 36%;
    padding: 30px;
    background-color: beige;
    margin-top: 40px;
    position: relative;
    left: 10%;
    box-shadow: 10px 10px 5px #d0d2d6;
}

label {
    margin: 15px 10px 15px 0;
}

.text-input {
    height: 25px;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #1a1a1a;
}

textarea {
    width: 100%;
}

.text-input:hover {
    border-color: #f16c6b;
}

/* button style*/
.btn-submit {
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 2px;
    font-size: 100%;
    font-weight: 700;
    color: #312d2d;
    text-align: center;
    background-color: #f3e54cd5;
    display: block;
}

.btn-submit:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* footer style*/
footer {
    display: block;
    height: 150px;
    line-height: 150px;
    margin-top: 30px;
    background-color: #F5F0BB;
    border-top: 2px solid black;
}

.footer-social-links {
    text-align: center;
}

.footer-social-links li {
    display: inline;
    padding: 0 5%;
    margin: 1%;
    font-weight: 100;
    text-align: center;
    font-size: 150%;
}

.footer-social-links a {
    color: #1a1a1a;
}

/* media query */
/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #abt-sectiogn {
        height: 375px;
    }

    #cat-section {
        height: 1800px;
    }

    #abt-img {
        width: 250px;
        height: 250px;
    }

    #cat-tech {
        height: 600px;
    }

    .cat-hack-box {
        width: 30%;
        margin: 2rem 2rem 1rem 2rem;
        display: inline-block;
        background-color: beige;
    }

    #cat-health {
        height: 600px;
    }

    #cat-money {
        height: 600px;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width:950px) {

    #hero-cover-text p {
        font-size: 110%;
    }

    #hero-cover-text h2 {
        font-size: 300%;
    }

    #abt-section {
        height: 450px;
    }

    #abt-left {
        height: 200px;
        width: 90%;
        display: block;
    }

    #abt-right {
        height: 250px;
        width: 60%;
        display: block;
        text-align: right;
        margin-top: 30px;
    }

    #abt-img {
        height: 200px;
        width: 200px;
    }

}

/* For medium screens sizes from 800px wide and down */
@media screen and (max-width: 800px) {

    /*
    header {
        height: 100px;
        margin-top: -90px;
    }

    #logo {
        font-size: 210%;
    }

    #menu {
        clear: left;
        float: left;
        font-size: 100%;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #menu li {
        margin-right: 15px;
    }
*/
    #menu {
        float: right;
        width: 100%;
        margin-top: 0;
        background-color: #F5F0BB;
    }

    #menu li {
        display: block;
        text-align: right;
    }

    #menu a {
        width: 100%;
        display: block;
        text-align: right;
        color: #312d2d;
        box-sizing: border-box;
        border-top: 1px solid #333;
    }

    /* show hamburger icon */
    nav label {
        color: #fff;
        display: block;
        margin-top: 20px;
        background: #f16c6b;
        font-size: 1.2em;
        float: right;
        padding: 5px;

    }

    /* hide menu items */
    #menu li {
        display: none;
    }

    /* toggle show hide */
    nav #hamburger:checked~#menu li {
        display: block;
    }

    #hero-cover-text {
        width: 60%;
        left: 15%;
    }

    #abt-section {
        height: 525px;
    }

    #abt-right {
        height: 300px;
        width: 80%;
    }

    #abt-img {
        margin-top: 60px;
    }

    #cat-section {
        height: 2800px;
    }

    .cat-hack-box {
        width: 80%;
        height: auto;
    }

    #cat-tech {
        height: 900px;
    }

    #cat-health {
        height: 900px;
    }

    #cat-money {
        height: 975px;
    }

    .submit-form {
        width: 60%;
        left: 5%;
    }
}

/* For medium screens sizes from 500px wide and down */

@media screen and (max-width:500px) {

    #logo {
        font-size: 150%;
        margin-left: 14px;
    }

    #hero-cover-text {
        width: 80%;
        left: 10%;
    }

    #abt-section {
        height: 600px;
    }

    #abt-left {
        height: 300px;
    }

    #abt-right {
        height: 300px;
    }

    #cat-section {
        height: 3250px;
    }

    .cat-hack-box {
        width: 80%;
        height: auto;
    }

    #cat-tech {
        height: 1050px;
    }

    #cat-health {
        height: 1050px;
    }

    #cat-money {
        height: 1125px;
    }

    h2 {
        letter-spacing: 0px;
    }
}