@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sansita&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: open Sans, sans-serif;
    font-weight: 300;
    color: #312d2d;
    background-color: #F9F3EE;
}

.red-text {
    color: red;
}

.black-text {
    color: black;
}

.text-center {
    text-align: center;
}

/* Headings and Logo style */
h1,
h2,
h3 {
    font-family: sansita, sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    color: #3F4E4F;
}

#logo {
    float: left;
    font-size: 270%;
    margin-left: 28px;
}

/* navigation menu style */
#menu {
    letter-spacing: 5px;
    font-size: 110%;
    float: right;
    list-style: none;
}

#menu li {
    display: inline-block;
    margin-right: 28px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    color: blue;
}

#currpage {
    color: blue;
}

/* hero-image style */
#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/life-hack-hero-image.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

/* hero image cover text style */
#hero-cover-text {
    background-color: rgba(51, 153, 138, 0.1);
    width: 500px;
    height: 320px;
    text-align: center;
    padding: 30px 20px;
    color: beige;
    position: absolute;
    border-radius: 10px;
    bottom: 200px;
    top: 200px;
    left: 35%;
}

#hero-cover-text p {
    font-size: 180%;
}

#hero-cover-text h2 {
    font-size: 380%;
}

#hero-cover-text p,
h2 {
    margin-top: 30px;
}

.sub-header {
    height: 75px;
    line-height: 75px;
    font-weight: 280;
    background-color: blanchedalmond;
}

/* About section style */

#abt-section {
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 30px;
}

#abt-left {
    width: 40%;
    margin-left: 30px;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

#abt-right {
    width: 40%;
    display: inline-block;
}

/* Category  section styles */
#cat-section {
    width: 100%;
    height: 975px;
    margin-top: 30px;
}

#cat-section p {
    padding: 0 20px 40px 20px;
    color: black;
}

.cat-sub-head {
    color: #fff;
    margin-left: 28px;
    padding-top: 10px;
    font-weight: 260;
    margin-top: 2px;
    text-align: left;
}

#cat-tech {
    width: 100%;
    display: block;
    height: 300px;
    text-align: center;
    background: url(../images/cat_tech_img.jpg) no-repeat center center;
    background-size: cover;
}

.cat-hack-box {
    width: 20%;
    margin: 2rem 1rem 3rem 0;
    display: inline-block;
    background-color: beige;
    box-shadow: 5px 5px 2px hsl(60, 2%, 12%);
}

#cat-health {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    background: url(../images/cat_health_img.jpg) no-repeat center center;
    background-size: cover;
}

#cat-money {
    width: 100%;
    display: block;
    height: 350px;
    text-align: center;
    background: url(../images/cat_money_img.jpg) no-repeat center center;
    background-size: cover;
}

/* Life Hack submit form style */

#form-section {
    margin-top: 0px;
}

form {
    display: block;
}

.form-section {
    height: 750px;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.submit-form {
    width: 500px;
    padding: 30px;
    background-color: beige;
    margin-top: 40px;
    position: relative;
    
    left: 10%;
    box-shadow: 10px 10px 5px #d0d2d6;
}

label {
    margin: 15px 10px 15px 0;
}

.text-input {
    height: 25px;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #1a1a1a;
}

/* button style*/
.btn-submit {
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 2px;
    font-size: 100%;
    color: white;
    text-align: center;
    background-color: rgba(80, 105, 105, 0.648);
    display: block;
}

